Source: sonic-utilities-data
Maintainer: Joe LeVeque <jolevequ@microsoft.com>
Section: misc
Priority: optional
Standards-Version: 0.1
Build-Depends: debhelper (>=9)

Package: sonic-utilities-data
Architecture: all
Depends: ${misc:Depends} bash-completion
Description: Data files required for SONiC command line utilities
