SONIC_VERSION={{ build_version }}
PLATFORM={{ DEVICE_METADATA.localhost.platform }}
HWSKU={{ DEVICE_METADATA.localhost.hwsku }}
DEVICE_TYPE={{ DEVICE_METADATA.localhost.type }}
ASIC_TYPE={{ asic_type }}
